/* Default Demo Style */
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

* {
  box-sizing: border-box;
}

body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

body *,
html * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none
}

h1, h2, h3 {
  font-family: 'Roboto',Arial,sans-serif;
}

h1 { 
  font-size: 2.5em; 
  font-weight: 300; 
}

h2 { 
  font-size: 1.5em; 
  font-weight: 300; 
}

h3 { 
  font-size: 1.2em; 
  font-weight: 400; 
}

h1, h2, h3 {
  font-size: 1.5em !important;
  font-weight: 300 !important;
  font-family: 'Roboto',Arial,sans-serif !important;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -ms-content-zooming: none;
}

body:not(input):not(select):not(textArea), html:not(input):not(select):not(textArea) {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

button, input, select, textArea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 3px;
  vertical-align: middle;
  background: #fff;
  color: #c7c7c7;
  height: 25px;
  line-height: 20px;
  display: inline-block;
}

.modal_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.modal_container {
  box-sizing: border-box;
  width: 400px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  border-radius: 3px;
  z-index: 9999999;
  background: #fff;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  opacity: 1;
}
.modal_container>h1 {
  box-sizing: border-box;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  height: 125px;
}
.modal_container>h1, input::-webkit-input-placeholder, button {
  font-family: 'roboto', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

.modal_container>h1 {
  height: auto;
  width: 100%;
  font-size: 18px;
  background: rgba(33, 150, 243, 0.9);
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
}

.modal_container>div {
  padding-left: 20px;
  margin-top: 0px;
}

.modal_container>div>button {
  margin-left: -5px;
  margin-top: 0px;
  color: rgba(33, 150, 243, 1) !important;
}

#workspace {
  overflow: hidden;
  font: 12px 'Roboto', sans-serif;
  background: #fff;
  color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 75px;
}

.cell_input {
  position: absolute;
  left: 50px;
  top: 75px;
  z-index: 9;
  display: block;
  width: calc(100% - 100px) !important;
}

.cell_input>input {
  left: 50px;
  padding: 11px 5px;
  background: rgba(0,0,0,0);
  border: none;
  color: #fff;
  border-bottom: 1px solid #FFF;
}

.cell_input>label {
  width: calc(100% - 100px) !important;
}

.menu_container {
  position: absolute;
  left: 35px;
  top: 28px;
  z-index: 99999;
}

#container {
  outline:none;
}

#menu_dialogs {
  position: absolute;
  top: 0px;
}

/** Colorpicker */
#picker {
  width: 200px;
  height: 200px;
}

#slide { 
  width: 30px;
  height: 200px;
}

#current_cell {
  height: 26px;
  width: 48px;
  left: -1px;
  top: 0px;
  z-index: 3;
  border: none;
  position: absolute;
  padding-top: 7px;
  text-align: center;
}

#current_sheets>button {
  margin: 0px 5px 10px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  align-items: flex-start;
  animation-duration: 1s;
  animation-name: slideUp;
  animation-timing-function: ease;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(33, 150, 243);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  height: 27px;
  letter-spacing: 0.699999988079071px;
  line-height: 27px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 0px;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-transform: none;
  touch-action: manipulation;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  vertical-align: middle;
  visibility: visible;
  width: 98.90625px;
  word-spacing: 0px;
  writing-mode: lr-tb;
  -webkit-writing-mode: horizontal-tb;
}

#add_sheet {
  background: rgba(130, 177, 255, 0.8);
  color: #fff;
  margin-top: -15px;
  font-size: 16px;
  min-height: 42px;
  height: 42px;
  min-width: 42px;
  width: 32px;
}

.changeFontLabel {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.formula_input {
  height: 25px;
  width: 480px;
  border: 1px solid #448AFF;
  padding-left: 5px;
  color: #000;
}

.formula_input:focus {
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
  box-shadow: 0 3px 5px rgba(0,0,0,0.4);
}

.picker-wrapper {
  display: none;
}

/** Colorpicker END */

.menu_bar {
  top: 25px;
  border-top: 1px solid #000;
  height: 45px !important;
  z-index: 9;
}

.body_container {
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 3px;
}

.menu_hor {
  position: absolute;
  top: 3px;
  left: -35px;
  width: 100%;
  height: 25px;
  z-index: 3;
}

.menu_ver {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.menu_hor>th {
  padding-left: 0!important;
  padding-right: 0!important;
}

.menu_ver>div {
  width: 100% !important;
}

.menu_bright {
  background: #69788c !important;
}

.default_layer {
  background: #448AFF !important;
  cursor: pointer !important;
  color: #fff !important;
}

.cell_bright {
  color: #0D47A1 !important;
  background: #dedede !important;
  border: solid 1px #3D5AFE !important;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 4px !important;
  z-index: 1;
}

.cell_dark_alpha {
  color: #5e5e5e;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 3px !important;
  font-weight: 500;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC !important;
  border-right: none !important;
}

.cell_dark_alpha:hover {
  color: #448AFF !important;
  cursor: pointer;
}

.cell_dark_number {
  color: #5e5e5e;
  background: #fff;
  border: solid 1px lightgrey;
  font-family: 'Roboto', sans-serif;
  padding: 5px !important;
  border-bottom: none !important;
  font-weight: 500;
}

.cell_dark_number:hover {
  color: #448AFF !important;
  cursor: pointer;
}

.viewport {
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 21px;
  margin-left: 0px;
  height: -webkit-calc(100% - 125px); 
  height: -moz-calc(100% - 125px); 
  height: -o-calc(100% - 125px);
}

table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  overflow-x: hidden;
  overflow-y: auto;
}

tbody>tr {
  border-collapse: separate;
  border-spacing: 0;
}

#table_body>tr>th {
  height: 25px;
}

thead {
  position: absolute;
  z-index: 3;
  margin-top: -21px;
  margin-left: -1px;
}

.row {
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  empty-cells: show;
  padding: 0 4px 0 4px;
  background-color: #FFF;
  vertical-align: top;
  overflow: hidden;
  outline-width: 0;
  white-space: pre-line;
}

.row_hovered {
  background: rgba(198, 198, 198, 0.5) !important;
  padding-top: 4px !important;
  padding-left: 4px !important;
  border-left: 1px solid darkgrey !important;
  border-bottom: 1px solid darkgrey !important;
}

.single_row_hovered {
  border: 2px solid #448AFF;
  outline: 1px solid #448AFF;
  background: #fff;
  padding-top: 3px;
  padding-right: 3px;
  z-index: 1;
}

.autofill_button {
  background: url(../icon/autofill.svg) no-repeat top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 30% 20%; 
  opacity: 1.0;
  animation-name: pulsate;
  -webkit-animation-name: pulsate;  

  animation-duration: 1s;  
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;  
  -webkit-animation-timing-function: ease;

  -animation-iteration-count: 1s;
  -webkit-animation-iteration-count: 1s;
}

.cell_edit {
  text-align: left;
  border: solid 2px #448AFF !important;
  background: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.4);
  box-shadow: 0 3px 5px rgba(0,0,0,0.4);
  z-index: 1;
  color: #000;
  outline: none;
  cursor: text;
  white-space: pre-wrap;
  -webkit-transform: translateZ(0);
  word-wrap: break-word;
  direction: ltr;
  unicode-bidi: embed;
  text-overflow: ellipsis;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
  -webkit-line-break: after-white-space;
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-modify: read-write-plaintext-only;
  -o-user-modify: read-write-plaintext-only;
  user-modify: read-write-plaintext-only;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  line-height: 13px !important;
  padding-top: 4px !important;
  padding-right: 3px !important;
}

.cell_select {
  border: 2px solid rgb(82, 146, 247);
  background: #fff;
  z-index: 1;
  color: #000;
  outline: none;
  cursor: text;
  -webkit-user-modify: read-write-plaintext-only;
  white-space: pre-wrap;
  -webkit-transform: translateZ(0);
  word-wrap: break-word;
  -webkit-line-break: after-white-space;
  direction: ltr;
  unicode-bidi: embed;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.parent {
  border-bottom: none !important;
}

/** ICONS **/
.fa.fa-download {
  font-size: 55px;
}

.fa.fa-close {
  font-size: 35px !important;
  cursor: pointer;
}

.fa.fa-bars {
  font-weight: normal;
  font-style: normal;
  font-size: 21px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/** ICONS END */

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.g-menu-item {
  cursor: pointer;
}
.g-menu-item-caption {
  cursor: pointer !important;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Open...';
  padding: 0px;
  margin: -3px;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
  background: transparent;
}

::selection {
  background-color: rgba(187, 222, 251, 0.8);
}
::moz-selection{
  background-color: rgba(187, 222, 251, 0.8);
}
::webkit-selection{
  background-color: rgba(187, 222, 251, 0.8);
}

/** Scrollbar */

::-webkit-scrollbar {
  width: 1px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgba(0,0,0,.15);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-right-width: 1px;
}

/** Loading */

.loader-background {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  margin-bottom: 60px;
  background-color: #0084ff;
  width: 100%;
  height: 101%;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
}

.loader-title {
  position: absolute;
  z-index: 99;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin-top: 70px;
  color: #fff;
}

#loader-comment {
  margin-top: 240px;
  color: #fff;
}

.loader-wrapper {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.fadeOut {
  opacity: 0;
  transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -webkit-transition: opacity .75s ease-in-out;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.livecell_container {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border: 2px solid #448AFF;
  padding: 10px;
}

.moveUp {
  -ms-transform: translate(0px, -25px);
  -moz-transform: translate(0px, -25px);
  -webkit-transform: translate(0px, -25px);
  transform: translate(0px, -25px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.moveDown {
  -ms-transform: translate(0px, 25px);
  -moz-transform: translate(0px, 25px);
  -webkit-transform: translate(0px, 25px);
  transform: translate(0px, 25px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.caret {
  position:absolute;
  margin-top: 7px;
  margin-left: 2px;
}

.img-button {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#change_bold {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 45px;
  width: 16px;
  height: 20px;
  min-width: 20px !important;
}

#change_italic {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 70px;
  width: 16px;
  height: 20px;
  min-width: 20px !important;
}

#change_underline {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 95px;
  width: 16px;
  height: 20px;
  min-width: 20px !important
}

#change_fontColor {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 46px;
  width: 16px;
  height: 20px;
  min-width: 20px !important;
}

#change_background {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 70px;
  width: 16px;
  height: 20px;
  min-width: 20px !important;
}

#change_border {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 95px;
  width: 16px;
  height: 20px;
  min-width: 20px !important;
}

#insert_column {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 165px;
  width: 16px;
  height: 20px;
  min-width: 20px !important;
}

#delete_column {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 195px;
  width: 16px;
  height: 20px;
  min-width: 20px !important;
}

#insert_row {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 165px;
  width: 16px;
  height: 20px;
  min-width: 20px !important;
}

#delete_row {
  background-color: transparent;
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 195px;
  width: 16px;
  height: 20px;
  min-width: 20px !important;
}

#change_font {
  min-width: 110px;
  max-width: 110px;
  left: 40px;
  top: 40px;
}

#change_fontSize {
  min-width: 70px;
  max-width: 75px;
  padding: 0px;
}

.menu_items {
  margin-left: -11px;
  margin-right: -10px;
  margin-top: -5px;
  background-color: #448AFF;
  left: 0px;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 57px;
}

.calculate-icon {
  color: #448AFF;
  position:absolute;
  font-size:2em;
}

.icon_bar {
  padding-top: 2px !important;
  padding-bottom: 0px !important;
  width:auto;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space:nowrap;
}

.cell_formula {
  width: 23px !important;
  height: 23px !important;
  display: inline-block !important;
  -webkit-mask: url(../icon/formula.svg) no-repeat 50% 50%;
  mask: url(../icon/formula.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: rgba(50, 50, 50, 0.7) !important;
  position: absolute !important;
  margin-left: 10px !important;
  margin-top: 4px !important;
}

.ico {
  -webkit-user-drag: none;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0px;
  cursor: default;
  display: block;
  height: 180px;
  list-style-type: none;
  outline-color: rgb(0, 0, 0);
  outline-style: none;
  outline-width: 0px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 180px;
}

.ico.bold {
  left: 0px;
  top: -20px;
}

.ico.italic {
  left: -19px;
  top: -20px;
}

.ico.underline {
  left: -37px;
  top: -20px;
}

.ico.fontColor {
  left: -20px;
  top: -38px;
}

.ico.bgColor {
  left: 0px;
  top: -38px;
}

.ico.border {
  left: -1px;
  top: -71px;
}

.ico.insertColumn {
  left: 0px;
  top: -1px;
}

.ico.insertRow {
  left: -62px;
  top: 0px;
}

.ico.deleteColumn {
  left: -20px;
  top: -1px;
}

.ico.deleteRow {
  left: -41px;
  top: 0px;
}

.fa-file {
  color: rgba(50, 50, 50, 0.701961);
}

.fa-pencil {
  color: rgba(50, 50, 50, 0.701961);
}

.fa-cogs {
  color: rgba(50, 50, 50, 0.701961);
}

.fa-undo {
  color: rgba(50, 50, 50, 0.701961);
}

.fa-save {
  color: rgba(50, 50, 50, 0.701961);
}

.fa-folder-open {
  color: rgba(50, 50, 50, 0.701961);
}

.fa-group {
  color: rgba(50, 50, 50, 0.701961);
}

.flipped {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.input-container {
  width: 550px;
  padding-top: 5px;
}

@media (min-width: 400px) and (max-width: 600px) {
  .input-container {
    width: 100%;
  }
}

.bottom_layer {
  position: absolute;
  padding-left: 5px;
  bottom: 0px;
  right: 10px;
  z-index: 4;
}

.top_layer {
  position: absolute;
  padding-left: 5px;
  top: 0px;
  right: 10px;
  z-index: 1;
}

.top_layer>button {
  background-color: rgba(108, 163, 255, 0.65);
}

.white {
  color: #fff !important;
}

.top-undo {
  position: absolute;
  margin-left: 14px;
  margin-top: 19px;
  z-index: 1;
}

.activeSheet {
	background-color: rgba(33, 150, 243, 0.8) !important;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

.activeSheet:hover {
  background-color: rgba(33, 150, 243, 1) !important;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.65) !important;
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.65) !important;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.65) !important;
}

.activeMasterSheet {
  background-color: rgba(129, 199, 132, 1) !important;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

.activeMasterSheet:hover {
  background-color: rgba(129, 199, 132, 1) !important;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.55) !important;
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.55) !important;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.55) !important;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 0.0;
  }
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    opacity: 1.0;
  }
}

@keyframes pulsate {
  0% {
    -transform: scale(0.5, 0.5);
    opacity: 0.0;
  }
  50% {
    -transform: scale(1, 1);
    opacity: 0.5;
  }
  100% {
    -transform: scale(0.5, 0.5);
    opacity: 1.0;
  }
}

.border_top {
  border-top: 2px solid #448AFF !important;
  padding-top: 2px !important;
}

.border_bottom {
  border-bottom: 2px solid #448AFF !important;
}

.border_left {
  border-left: 2px solid #448AFF !important;
  padding-left: 3px !important;
}

.border_right {
  border-right: 2px solid #448AFF !important;
  padding-left: 6px !important;
}

.closeButton {
  position: absolute !important;
  z-index: 9;
  right: 0;
  margin-top: -13px;
  padding-top: 9px;
  border-radius: 0px;
  border: none;
  width: 20px;
  background-color: rgba(21, 101, 192, 0.55);
  color: #fff !important;
}

.activeMasterSheet .closeButton {
  margin-top: -40px;
}

.usersInRoom {
  position: absolute;
  z-index: 9;
  top: 0px;
  left: -2px !important;
  margin-top: -7px;
  padding-top: 0px;
  border-radius: 0px;
  border: none;
  width: 22px;
  background-color: rgba(0,0,0,0);
  font-size: 10px;
  color: #fff !important;
}

.usersInRoomButton:focus {
  outline: 0;
}

.sheetType {
  position: absolute;
  z-index: 9;
  top: 5px;
  left: -2px !important;
  padding-top: 0px;
  border-radius: 0px;
  border: none;
  width: 22px;
  background-color: rgba(0,0,0,0);
  font-size: 11px;
  color: #fff !important;
}

.sheetTypeButton:focus {
  outline: 0;
}

.extendButton {
  position: absolute !important;
  z-index: 9;
  right: 0;
  bottom: 0px;
  padding-top: 0px;
  border-radius: 0px;
  border: none;
  width: 10px;
  height: 6px;
  background-color: rgba(41, 121, 255, 1);
  color: #fff !important;
}

.alertButton {
  position: absolute !important;
  margin: 11px 11px;
}

.alertAbort {
  float: right;
  margin-right: 15px;
}

.editorButtonOk {
  position: absolute !important;
  right: 75px;
  top: -1px;
  position: absolute;
  z-index: 999;
  background-color: rgba(0,0,0,0) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.editorButtonShortCut {
  position: absolute !important;
  right: 40px;
  top: -1px;
  position: absolute;
  z-index: 999;
  background-color: rgba(0,0,0,0) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.editorButtonAdd {
  position: absolute !important;
  right: 5px;
  top: -1px;
  position: absolute;
  z-index: 999;
  background-color: rgba(0,0,0,0) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

.editorButtonAdd>span {
  margin-left: 2px;
}

#background_colorpicker, #font_colorpicker {
  position: fixed;
  top: 25%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  overflow: auto;
  background-color: rgba(0,0,0,0);
  width: 100%;
  min-width: 288px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s left,0.5s top, 0.5s width, 0.5s height, 0.5s opacity;
  overflow: hidden;
  outline: 0;
  z-index: 40;
  height: 288px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.65) !important;
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.65) !important;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.65) !important;
}

.ebcp-text-container, .ebcp-preview-values {
  display: none !important;
}

.moduleContainer {
  position: absolute;
  z-index: 999999;
  bottom: 0px;
  right: 5px;
  padding: 0px;
  margin: 0px;
}

.editorScript {
  width: auto !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

@media screen and (max-width: 530px) {
  .top_layer {
    display: none;
  }
}

#border_settings_menu_items>button {
  padding: 0px;
  color: #fff !important;
  width: 55px;
  height: 25px;
  position: absolute; 
}

#column_resize_helper {
  position: absolute;
  z-index: 5;
  background-color: darkgrey;
  width: 1px;
  height: 100%;
}

#row_resize_helper {
  position: absolute;
  z-index: 2;
  background-color: darkgrey;
  height: 1px;
  width: 100%;
}

.addHomeScreen {
  content: url(../icon/action-icon-ios7.png);
  width: 16px;
  margin-top: -5px;
}

.rotateDevice {
  content: url(../icon/rotate_left.png);
  width: 36px;
  margin-top: 2px;
  margin-left: 0px;
}

#copyright_loading {
  position: absolute;
  left: 10px;
  bottom: -30px;
  z-index: 9999999;
  color: #fff;
  font-size: 1.3em !important;
}

@media screen and (max-width: 530px) {
  #copyright_loading {
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 9999999;
    color: #fff;
    font-size: 1.1em !important;
  }
}

@media screen and (max-width: 400px) {
  .modal_container {
    width: 300px;
    margin-left: -150px;
  }
}

/** Preload animation taken from: http://codepen.io/CasperPas/pen/erJKE */
ul.rotate_wrapper {
  position: relative;
  width: 75px;
  height: 75px;
  list-style: none;
}

ul.rotate_wrapper li.rotate_item {
  width: 100%;
  height: 100%;
  border-radius: 52px;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -o-border-radius: 52px;
  top: 0;
  left: 0;
  z-index: 99;
  text-indent: -9999px;
  display: block;
  position: absolute;
  border: none;
}
ul.rotate_wrapper li.rotate_item span {
  background: #FFFFFF;
  bottom: 0px;
  left: 50%;
  margin-left: -2px;
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
}

/* CSS3 Animations */
ul.rotate_wrapper li.rotate_item {
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-name:orbit;

  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -webkit-animation-name:orbit;
    
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
  -moz-animation-name:orbit;

  -o-animation-iteration-count:infinite;
  -o-animation-timing-function:linear;
  -o-animation-name:orbit;
}

ul.rotate_wrapper li.rotate_item {
  animation-duration:4s;
  -webkit-animation-duration:4s;
  -moz-animation-duration:4s;
  -o-animation-duration:4s;
}

.delay1 {
  animation-delay:0.2s;
  -moz-animation-delay:0.2s; /* Firefox */
  -webkit-animation-delay:0.2s; /* Safari and Chrome */
  -o-animation-delay:0.2s; /* Opera */
}

.delay2 {
  animation-delay:0.4s;
  -moz-animation-delay:0.4s; /* Firefox */
  -webkit-animation-delay:0.4s; /* Safari and Chrome */
  -o-animation-delay:0.4s; /* Opera */
}

.delay3 {
  animation-delay:0.6s;
  -moz-animation-delay:0.6s; /* Firefox */
  -webkit-animation-delay:0.6s; /* Safari and Chrome */
  -o-animation-delay:0.6s; /* Opera */
}

.delay4 {
  animation-delay:0.8s;
  -moz-animation-delay:0.8s; /* Firefox */
  -webkit-animation-delay:0.8s; /* Safari and Chrome */
  -o-animation-delay:0.8s; /* Opera */
}

.mdl-navigation>div {
  cursor: pointer;
}

@keyframes orbit {
  0% {
      transform:rotate(0deg);
      opacity: 1;
  }
  5% {
      transform:rotate(90deg);
      opacity: 1;
    }
  45% {
      transform:rotate(270deg);
      opacity: 1;
    }
  55% {
      transform:rotate(540deg);
      opacity: 1;
    }
  75% {
      transform:rotate(630deg);
      opacity: 1;
    }
  80% {
      transform:rotate(720deg);
      opacity: 0;
    }
  100% {
      transform:rotate(720deg);
      opacity: 0;
    }
}

@-webkit-keyframes orbit {
  0% {
      -webkit-transform:rotate(0deg);
      opacity: 1;
    }
  5% {
      -webkit-transform:rotate(90deg);
      opacity: 1;
    }
  45% {
      -webkit-transform:rotate(270deg);
      opacity: 1;
    }
  55% {
      -webkit-transform:rotate(540deg);
      opacity: 1;
    }
  75% {
      -webkit-transform:rotate(630deg);
      opacity: 1;
    }
  80% {
      -webkit-transform:rotate(720deg);
      opacity: 0;
    }
  100% {
      -webkit-transform:rotate(720deg);
      opacity: 0;
    }
}

@-moz-keyframes orbit {
  0% {
      -moz-transform:rotate(0deg);
      opacity: 1;
    }
  5% {
      -moz-transform:rotate(90deg);
        opacity: 1;
    }
  45% {
     -moz-transform:rotate(270deg);
        opacity: 1;
    }
  55% {
     -moz-transform:rotate(540deg);
        opacity: 1;
    }
  75% {
     -moz-transform:rotate(630deg);
        opacity: 1;
    }
  80% {
     -moz-transform:rotate(720deg);
        opacity: 0;
    }
  100% {
        -moz-transform:rotate(720deg);
        opacity: 0;
    }
}

@-o-keyframes orbit {
  0% {
      -o-transform:rotate(0deg);
      opacity: 1;
    }
  5% {
      -o-transform:rotate(90deg);
      opacity: 1;
    }
  45% {
      -o-transform:rotate(270deg);
      opacity: 1;
    }
  55% {
      -o-transform:rotate(540deg);
      opacity: 1;
    }
  75% {
      -o-transform:rotate(630deg);
      opacity: 1;
    }
  80% {
      -o-transform:rotate(720deg);
      opacity: 0;
    }
  100% {
      -o-transform:rotate(720deg);
      opacity: 0;
    }
}
